{% extends "wedding/base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Lauren and Michael</a>
        <a class="nav-link" href="#Event">Event</a>
        <a class="nav-link" href="#Registry">Registry</a>
        <a class="nav-link" href="/im-not-a-local">Travel</a>
        <a class="nav-link" href="#Contact">Contact</a>
    </nav>

    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <span class="anchor" id="SavetheDate"></span>
{% endblock %}

{% block content %}
{% for local in locals %}
<div>
    <h1>{{ local.name }}'s Quotes </h1>
</div>

<div class="container">
    <table class="table table-sm" width="45%">
        <thead>
        <tr align="center">
          <th scope="col">Place</th>
          <th scope="col">Quote</th>
          <th scope="col">Approved</th>
        </tr>
        </thead>
        <tbody>
        {% for key,value in quotes.items %}
        {% if key == local.name %}
            {% for q in value %}
                <tr align="center">
                  <th scope="row">{{q.place}}</th>
                  <td>{{q.quote}}</td>
                  <td>{% if q.approved %} 👍 {% endif %}</td>
                  <td><input type="checkbox" class="form-check-input" id="my_checkbox{{forloop.counter}" value="active "></td>
                </tr>
                <script>
                $("#my_checkbox{{forloop.counter}}").change(function() {
                    if(this.checked) {
                        });
                    }
                    # If you want, make an else
                });
                </script>
            {% endfor %}
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endfor %}

{% endblock %}
