{% extends "wedding/base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Lauren and Michael</a>
        <a class="navbar-link" href="#">Save the Date</a>
        <a class="nav-link" href="#Event">Event</a>
        <a class="nav-link" href="#Where to Stay">Where to Stay</a>
        <a class="nav-link" href="#Registry">Registry</a>
        <a class="nav-link" href="#Contact">Contact</a>
    </nav>

    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <span class="anchor" id="SavetheDate"></span>
{% endblock %}

{% block content %}

<!-- Save the Date -->
<section id="Save the Date">
    <div class="text-center" style="background-color:#316B52">
        <img src="/static/images/save_the_date.jpeg" class="img-fluid" alt="Responsive image">
    </div>
</section>

<!-- Event info -->
<section id="Event" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Event</h2>
                <hr class="primary">
                <dl class="dl-row text-center lead">
                    <dt>What</dt>
                    <dd>
                        Join us for a ceremony immediately followed by dinner, drinks, and fun!
                    <dt>When</dt>
                    <dd>Saturday, November 3, 2018 at 5:30pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Hofbrauhaus Las Vegas<br>
                            <a href="https://goo.gl/maps/67GnyNPQjhs">24510 Paradise Rd, Las Vegas, NV 89169</a><br>
                        </address>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<!--Registry info -->
<section class="no-padding bg-white" id="Registry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Registry</h2>
                <hr class="primary">
                <p>
                    Your presence at our wedding is the greatest gift of all.
                    However, if you wish to honor us with a gift, we have set up three funds through theknot.com to which you can donate in lieu of a traditional gift.
                </p>

                {% for fund in funds %}
                <p><a href={{ fund.link }}>The {{ fund.name }} Fund</a> {{fund.info|safe}}</p>
                {% endfor %}

<!-- Links to Registry -->

    <div class="container-fluid-max-width:100%">
        <div class="row no-gutter">

            {% for fund in funds %}
            <!-- {{ fund.name }} -->
            <div class="col-sm">
                <a href= {{ fund.link }} class="portfolio-box page-scroll">
                    <div class="image">
                        <img src= {{ fund.image_source }} class="img-responsive" alt="" style="width:100%; height:auto">
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                        {{ fund.name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

