{% extends "wedding/base.html" %}
{% load staticfiles %}

{% block navbar %}
<div>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">Lauren and Michael</a>
        <a class="nav-link" href="#Event">Event</a>
        <a class="nav-link" href="#Registry">Registry</a>
        <a class="nav-link" href="/im-not-a-local">Travel</a>
        <a class="nav-link" href="#Contact">Contact</a>
</nav>



    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <span class="anchor" id="SavetheDate"></span>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Save the Date -->
<section id="Save the Date">
    <div class="progress">
        <div class="progress-bar-blue" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar-yellow" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="text-center" style="background-color:#ffff">
        <img src="/static/images/invite.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="progress">
        <div class="progress-bar-yellow" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar-blue" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</section>

<!-- Event info -->

<section id="Event" class="bg-white">
<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Ceremony and Reception</h2>
            <hr class="primary">
            <dl class="dl-row text-center lead">
                <dt>What</dt>
                <dd>
                    Join us for a ceremony immediately followed by dinner, drinks, and fun!
                <dt>When</dt>
                <dd>Saturday, November 3rd, 2018 at 6:15p.m.</dd>
                <dt>Where</dt>
                <dd>
                    <address>
                        Hofbrauhaus Las Vegas<br>
                        <a href="https://goo.gl/maps/67GnyNPQjhs">24510 Paradise Rd, Las Vegas, NV 89169</a><br>
                    </address>
                </dd>
                <dt>Attire</dt>
                <dd>Business Casual</dd>
                <dt>Getting There</dt>
                <dd>Taking an Uber, Lyft, or taxi is suggested for convenience.</br>
                There is a free valet at the Hofbrauhaus and limited parking at the Hyatt Hotel next door.</br>
                The Hard Rock Hotel and Casino is a short walk away and has plenty of parking.</br>
                <b>We recommend having a plan for a ride home since there is an open bar.</b></br></dd>
                
                <dd><a href="/im-not-a-local">Check out our recommendations for guests visiting from out of town.</a></dd>
                <dd><i>Please note that guests must be 17 or older.</i></dd>
            </dl>
        </div>
        <!-- Bonus Events -->
        <div>
            <h2 class="section-heading text-center">Bonus Fun</h2>
            <hr class="primary">
            <p>We have some extras planned for friends and family traveling from out of town (sorry locals).
                We will be hosting a Welcome BBQ at our house the night before the wedding and a Send-Off Brunch the day after.
                Check your invitation for an RSVP! We are also planning a bar crawl through Downtown Las Vegas that is open to anyone who would like to join.</p>

            {% for event in events %}
            <h4 class="section-heading text-left">{{ event.title}}</h4>
            <dl class="dl-row text-left lead">
                <dd><b>What: </b>{{ event.what }}</dd>
                <dd><b>When:</b> {{ event.when |date:'l, F jS - g:ia' }}</dd>
                <dd><b>Where: </b>{% if event.where_link != 'none' %} <a href={{event.where_link}}>{{ event.where }}</a>{% else %} {{ event.where }}  {% endif %}</dd>
                <dd><b>Who: </b>{{ event.who }} </dd>
                {% if event.host %}<dd><b>Hosted by: </b>{{event.host}}</dd>{% endif %}
                <dd><b>Attire: </b>{{ event.attire }}</dd>
                {% if event.transportation %}
                <dd><b>Getting There: </b>{{ event.transportation }}</dd>
                {% endif %}
                {% if event.other %}
                <dd><b>Other Stuff: </b>{{ event.other }}</dd>
                {% endif %}
            </dl>
            {% endfor %}



        </div>
    </div>
</div>

<!--Registry info -->
<section class="no-padding bg-white" id="Registry">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Registry</h2>
                <hr class="primary">
                <p>
                    Your presence at our wedding is the greatest gift of all.
                    However, if you wish to honor us with a gift, we have set up three funds through theknot.com to which you can donate in lieu of a traditional gift.
                    We have chosen this method to simplify the process and make it easy for you to just show up and have a good time!
                    The Hofbrauhaus venue has limited storage and cannot accomodate space for gifts, however, we will have a space to drop off cards. 
                    If none of these suite your fancy, feel free to surprise us! 
                </p>

                {% for fund in funds %}
                <p><a href={{ fund.link }}>The {{ fund.name }} Fund</a> {{fund.info|safe}}</p>
                {% endfor %}

<!-- Links to Registry -->

    <div class="container-fluid-max-width:100%">
        <div class="row no-gutter">

            {% for fund in funds %}
            <!-- {{ fund.name }} -->
            <div class="col-sm">
                <a href= {{ fund.link }} class="portfolio-box page-scroll">
                    <div class="image">
                        <img src= {{ fund.image_source }} class="img-responsive" alt="" style="width:100%; height:auto">
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                        {{ fund.name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

